{% extends "base.html" %}
{% load static %}

{% block title %}Found{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h1 class="text-center mb-4">Report Found Item</h1>

            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
            
                <div class="mb-3">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
            
                <div class="mb-3">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
            
                <!-- Suggestions Box -->
                <div id="title-suggestions" class="suggestions-box border rounded p-2 mb-3" style="display:none;"></div>
                
                <div class="mb-3">
                    {{ form.description.label_tag }}
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>    
            
                <div class="mb-3">
                    {{ form.location.label_tag }}
                    {{ form.location }}
                </div>

                <div class="mb-3">
                    {{ form.contact_info.label_tag }}
                    {{ form.contact_info }}
                </div>

                <div class="mb-3">
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>
                <button type="submit" class="btn btn-primary">Submit Found Item</button>
            </form>
        </div>
    </div>
</div>
<script>
    window.categoryMapData = {{ category_map_json|safe }};
</script>
<script src="{% static 'js/category_suggestions.js' %}"></script>

{% endblock content %}
